html,
body {
  color:#FFFFFF;
  padding: 0px;
  margin: 0px;
  background: #FFFFFF;
  font-family: arial;
}
h1 {
  margin: 0px;
}
.y-axis .domain, .x-axis .domain{
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}
.hist,.stage-bar{
	position:relative;
	float:left;
	top:0;
	left:0;
}